html,
body {
  height: 100%;
  background: rgb(71, 101, 210);
  background: linear-gradient(
    90deg,
    rgba(71, 101, 210, 1) 0%,
    rgb(18, 25, 44) 10%,
    rgb(27, 36, 59) 90%,
    rgba(71, 101, 210, 1) 100%
  );
}
.greeting {
  width: 30rem;
  height: 30rem;
}
form {
  background-color: transparent !important;
  color: white !important;
}
form input{
    height: fit-content !important;
    padding-block: 0px !important;
}
.pass label
{
    right: .8rem;
}
@media screen and (min-width: 1200px) {
  form {
    width: 50%;
    border: solid 1px;
    z-index: 5;
  }
  .bo{
    border:solid 1px white;
    width: 40rem;
    height: 40rem;
    transform: rotate(45deg);
    top: 10rem;
    left: 21rem;
    z-index: 1;
  }
}
